@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.container {
  h1 {
    color: $yellow;
  }

  .about-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;

    .list {
      margin-top: 10px;
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $yellow;
        }

        &:hover {
          text-decoration: underline;
          background: darken(black, 10%);
          color: $yellow;
          border-radius: 10px;
        }
      }
    }

    .footer-list {
      @include block-disposal(flex, none, center);
      align-items: center;
      margin-top: 20px;

      li {
        margin: 0 20px;

        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
