@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/G7KwLGs/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1, 5px;

  .container {
    margin: 40px;
    background: black;
    padding: 10px;
    border-radius: 10px;
    color: white;

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }

    h1,
    h2 {
      text-align: center;
    }

    h4 {
      margin-top: 20px;
      padding: 50px;
      text-align: center;
    }
  }

  @media (max-width: 700px) {
    background-size: cover;
    min-height: 100vh;
  }
}
